body {
    margin: 0px;
}

.container {
    display: flexbox;
    flex-wrap: wrap;
    justify-content:center;
}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 20%;
    margin-left: 25px;
    padding: 1.2em 0;
}

img {
    width: 280px;
    height: 280px;
    margin: 20px;
    transition: all 1s
}

img:hover {
	transform: scale(1.1);
}




